body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 50px;
  text-align: center;
}

hr {
  margin: 20px 0px;
}
.centerpage {
  text-align: center;
  width: 600px;
}

.formArea {
  text-align: left;
}

ul {
  width: 70%;
  margin: auto;
}

li {
  list-style-position: inside;
  text-align: left;
}